<!--login-->
<div class="login">

    <!--login__form-->
    <form class="login__form access__inner"
            novalidate
            [@visibilityChanged]="!sentFlag"
            [formGroup]="registerForm"
            [class.failure]="failureFlag"
            (submit)="submit(registerForm)"
            (change)="setDefaultState()">

        <!--access__title-->
        <h1 class="access__title">{{ texts[ 'login' ][ 'title' ] }}</h1>
        <!--/access__title-->

        <fieldset>

            <input id="email"  type="email" name="email" formControlName="userName" placeholder="Email">

            <label for="email">
                <svg width="24px" height="24px" viewBox="0 0 24 24">
                    <g id="UI-Kit" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="email" fill="#CBCFDA">
                            <path d="M4,10 L12.0632324,14 L20,10 L20,17.0026083 C20,18.1057373 19.1054862,19 18.0059397,19 L5.99406028,19 C4.8927712,19 4,18.1041422 4,17.0026083 L4,10 Z M4,8 L4,7.00104344 C4,5.90009892 4.8927712,5 5.99406028,5 L18.0059397,5 C19.1054862,5 20,5.89589766 20,7.00104344 L20,8 L12.0632324,12 L4,8 Z" id="Combined-Shape"/>
                        </g>
                    </g>
                </svg>
            </label>

            <!--login__form-invalid-->
            <div class="login__form-invalid">

                <div>{{ texts[ 'emailValidationError' ] }}</div>

            </div>
            <!--/login__form-invalid-->

        </fieldset>

        <fieldset>

            <input id="password" type="password" formControlName="password" placeholder="Password">
            <label for="password">
                <svg width="24px" height="24px" viewBox="0 0 24 24">
                    <g id="UI-Kit" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="password" fill="#CBCFDA">
                            <path d="M13.7071068,6 L13.7071068,11.5820795 C15.6458055,12.4324105 17,14.3687209 17,16.6213203 C17,19.6588865 14.5375661,22.1213203 11.5,22.1213203 C8.46243388,22.1213203 6,19.6588865 6,16.6213203 C6,14.2115011 7.54982272,12.1636624 9.70710678,11.4201655 L9.70710678,2.99188419 C9.70710678,1.89179693 10.5948364,1 11.7071068,1 C12.8116763,1 13.7071068,1.89339733 13.7071068,2.99188419 L13.7071068,3 L15.6227443,3 C16.450385,3 17.1213203,3.66579723 17.1213203,4.5 C17.1213203,5.32842712 16.4562906,6 15.6227443,6 L13.7071068,6 Z M11.5,19.1213203 C12.8807119,19.1213203 14,18.0020322 14,16.6213203 C14,15.2406085 12.8807119,14.1213203 11.5,14.1213203 C10.1192881,14.1213203 9,15.2406085 9,16.6213203 C9,18.0020322 10.1192881,19.1213203 11.5,19.1213203 Z" id="Combined-Shape" transform="translate(11.560660, 11.560660) rotate(-315.000000) translate(-11.560660, -11.560660) "></path>
                        </g>
                    </g>
                </svg>
            </label>

        </fieldset>

        <!--login__form-failure-->
        <div class="login__form-failure">

            <div>{{ failureText }}</div>

        </div>
        <!--/login__form-failure-->

        <!--access__btns-->
        <div class="access__btns">

            <!--btn-->
            <button type="submit" class="btn"
                    [disabled]="!registerForm.valid"
                    [class.btn_disabled]="!registerForm.valid"
                    [dropEffect]="'#2271ca'">

                <span class="btn__inner">{{ texts[ 'login' ][ 'submitBtn' ] }}</span>

            </button>
            <!--/btn-->

            <!--access__link-->
            <button class="access__link"
                    (click)="switchForms( $event )">
                {{ texts[ 'login' ][ 'passwordBtn' ] }}
            </button>
            <!--/access__link-->

        </div>
        <!--/access__btns-->

        <div class="spinner" [@visibilityChanged]="spinnerVisible" *ngIf="spinnerVisible"></div>

    </form>
    <!--/login__form-->

</div>
<!--/login-->









