
<!--main__scroll-->
<div class="main__scroll" *ngIf="viewSize"  perfect-scrollbar [@FadeInOut]="">

    <!--dashboard-->
    <div class="dashboard">

        <!--main__head-->
        <div class="main__head">

            <!--main__title-->
            <h2 class="main__title">Dashboard</h2>
            <!--/main__title-->

            <!--&lt;!&ndash;main__head-btns&ndash;&gt;-->
            <!--<div class="main__head-btns">-->

                <!--&lt;!&ndash;btn&ndash;&gt;-->
                <!--<a href="#" class="btn">Quick Action</a>-->
                <!--&lt;!&ndash;/btn&ndash;&gt;-->
    <!---->
                <!--&lt;!&ndash;btn&ndash;&gt;-->
                <!--<a href="#" class="btn btn_create">Create</a>-->
                <!--&lt;!&ndash;/btn&ndash;&gt;-->

            <!--</div>-->
            <!--&lt;!&ndash;/main__head-btns&ndash;&gt;-->

        </div>
        <!--/main__head-->

        <!--&lt;!&ndash;dashboard__item&ndash;&gt;-->
        <!--<div class="dashboard__item dashboard__item_fraud">-->

        <!--&lt;!&ndash;dashboard__item-head&ndash;&gt;-->
        <!--<div class="dashboard__item-head">-->

        <!--&lt;!&ndash;dashboard__item-title&ndash;&gt;-->
        <!--<h3 class="dashboard__item-title">Fraud Detected</h3>-->
        <!--&lt;!&ndash;/dashboard__item-title&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item-head&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__item-text&ndash;&gt;-->
        <!--<p class="dashboard__item-text">-->
        <!--The average fraud level is higher then usual level for last 30 days for <a href="#">Smart Electronics</a> merchant at-->
        <!--<a href="#">World Trade Center</a> location. Please review logs for more details.-->
        <!--</p>-->
        <!--&lt;!&ndash;/dashboard__item-text&ndash;&gt;-->

        <!--&lt;!&ndash;main__btns&ndash;&gt;-->
        <!--<div class="main__btns">-->

        <!--&lt;!&ndash;btn&ndash;&gt;-->
        <!--<a href="#" class="btn">View Logs</a>-->
        <!--&lt;!&ndash;/btn&ndash;&gt;-->

        <!--&lt;!&ndash;main__btns-link&ndash;&gt;-->
        <!--<a href="#" class="main__btns-link">Dismiss</a>-->
        <!--&lt;!&ndash;/main__btns-link&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/main__btns&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__row&ndash;&gt;-->
        <!--<div class="dashboard__row">-->

        <!--&lt;!&ndash;dashboard__item&ndash;&gt;-->
        <!--<div class="dashboard__item">-->

        <!--&lt;!&ndash;dashboard__item-head&ndash;&gt;-->
        <!--<div class="dashboard__item-head">-->

        <!--&lt;!&ndash;dashboard__item-title&ndash;&gt;-->
        <!--<h4 class="dashboard__item-title">Transaction Velocity</h4>-->
        <!--&lt;!&ndash;/dashboard__item-title&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__item-head-action&ndash;&gt;-->
        <!--<a href="#" class="dashboard__item-head-action">View Details</a>-->
        <!--&lt;!&ndash;/dashboard__item-head-action&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item-head&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__chart&ndash;&gt;-->
        <!--<div class="dashboard__chart">-->

        <!--&lt;!&ndash;dashboard__chart-wrap&ndash;&gt;-->
        <!--<div class="dashboard__chart-wrap"></div>-->
        <!--&lt;!&ndash;/dashboard__chart-wrap&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__chart-schema&ndash;&gt;-->
        <!--<div class="dashboard__chart-schema">-->

        <!--<div>-->
        <!--<span style="background-color: #6caef8"></span>-->
        <!--Parameter 1-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #6ed575"></span>-->
        <!--Parameter 2-->
        <!--</div>-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__chart-schema&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__chart&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__item&ndash;&gt;-->
        <!--<div class="dashboard__item">-->

        <!--&lt;!&ndash;dashboard__item-head&ndash;&gt;-->
        <!--<div class="dashboard__item-head">-->

        <!--&lt;!&ndash;dashboard__item-title&ndash;&gt;-->
        <!--<h4 class="dashboard__item-title">Card Types</h4>-->
        <!--&lt;!&ndash;/dashboard__item-title&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__item-head-action&ndash;&gt;-->
        <!--<a href="#" class="dashboard__item-head-action">Optional Action</a>-->
        <!--&lt;!&ndash;/dashboard__item-head-action&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item-head&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__chart&ndash;&gt;-->
        <!--<div class="dashboard__chart">-->

        <!--&lt;!&ndash;dashboard__chart-wrap&ndash;&gt;-->
        <!--<div class="dashboard__chart-wrap"></div>-->
        <!--&lt;!&ndash;/dashboard__chart-wrap&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__chart-schema&ndash;&gt;-->
        <!--<div class="dashboard__chart-schema">-->

        <!--<div>-->
        <!--<span style="background-color: #6caef8"></span>-->
        <!--Visa-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #6ed575"></span>-->
        <!--Master Card-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #f7cc51"></span>-->
        <!--American Express-->
        <!--</div>-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__chart-schema&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__chart&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__row&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__item&ndash;&gt;-->
        <!--<div class="dashboard__item">-->

        <!--&lt;!&ndash;dashboard__item-head&ndash;&gt;-->
        <!--<div class="dashboard__item-head">-->

        <!--&lt;!&ndash;dashboard__item-title&ndash;&gt;-->
        <!--<h3 class="dashboard__item-title">Live Statistics</h3>-->
        <!--&lt;!&ndash;/dashboard__item-title&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__item-head-action&ndash;&gt;-->
        <!--<div class="dashboard__item-head-action">Optional Action</div>-->
        <!--&lt;!&ndash;/dashboard__item-head-action&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item-head&ndash;&gt;-->

        <!--&lt;!&ndash;count&ndash;&gt;-->
        <!--<div class="count">-->

        <!--&lt;!&ndash;count__item&ndash;&gt;-->
        <!--<div class="count__item">-->

        <!--&lt;!&ndash;count__value&ndash;&gt;-->
        <!--<div class="count__value"-->
        <!--count-->
        <!--[step]="100"-->
        <!--[countTo]="2458"-->
        <!--[countFrom]="0"-->
        <!--[duration]="3000"-->
        <!--(countoChange)="counto = $event">{{ counto }}-->
        <!--</div>-->
        <!--&lt;!&ndash;/count__value&ndash;&gt;-->

        <!--&lt;!&ndash;count__text&ndash;&gt;-->
        <!--<p class="count__text">-->
        <!--Transactions-->
        <!--for Last 30 Minutes-->
        <!--</p>-->
        <!--&lt;!&ndash;/count__text&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/count__item&ndash;&gt;-->

        <!--&lt;!&ndash;count__item&ndash;&gt;-->
        <!--<div class="count__item">-->

        <!--&lt;!&ndash;count__value&ndash;&gt;-->
        <!--<div class="count__value"-->
        <!--count-->
        <!--[step]="100"-->
        <!--[countTo]="2458635"-->
        <!--[countFrom]="0"-->
        <!--[duration]="3000"-->
        <!--(countoChange)="counto = $event">{{ counto }}-->
        <!--</div>-->
        <!--&lt;!&ndash;/count__value&ndash;&gt;-->

        <!--&lt;!&ndash;count__text&ndash;&gt;-->
        <!--<p class="count__text">Total Transactions Amount</p>-->
        <!--&lt;!&ndash;/count__text&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/count__item&ndash;&gt;-->

        <!--&lt;!&ndash;count__item&ndash;&gt;-->
        <!--<div class="count__item">-->

        <!--&lt;!&ndash;count__value&ndash;&gt;-->
        <!--<div class="count__value"-->
        <!--count-->
        <!--[step]="100"-->
        <!--[countTo]= "890.56"-->
        <!--[countFrom]= "0"-->
        <!--[duration]="3000"-->
        <!--(countoChange)="counto = $event">{{ counto }}-->
        <!--</div>-->
        <!--&lt;!&ndash;/count__value&ndash;&gt;-->

        <!--&lt;!&ndash;count__text&ndash;&gt;-->
        <!--<p class="count__text">-->
        <!--Average Transaction-->
        <!--Amount-->
        <!--</p>-->
        <!--&lt;!&ndash;/count__text&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/count__item&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/count&ndash;&gt;-->
        <!---->
        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__item&ndash;&gt;-->
        <!--<div class="dashboard__item">-->

        <!--&lt;!&ndash;dashboard__item-head&ndash;&gt;-->
        <!--<div class="dashboard__item-head">-->

        <!--&lt;!&ndash;dashboard__item-title&ndash;&gt;-->
        <!--<h4 class="dashboard__item-title">Transaction Velocity</h4>-->
        <!--&lt;!&ndash;/dashboard__item-title&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__item-head-action&ndash;&gt;-->
        <!--<a href="#" class="dashboard__item-head-action">View Details</a>-->
        <!--&lt;!&ndash;/dashboard__item-head-action&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item-head&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__chart&ndash;&gt;-->
        <!--<div class="dashboard__chart">-->

        <!--&lt;!&ndash;dashboard__chart-wrap&ndash;&gt;-->
        <!--<div class="dashboard__chart-wrap"></div>-->
        <!--&lt;!&ndash;/dashboard__chart-wrap&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__chart-schema&ndash;&gt;-->
        <!--<div class="dashboard__chart-schema">-->

        <!--<div>-->
        <!--<span style="background-color: #6caef8"></span>-->
        <!--Parameter 1-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #6ed575"></span>-->
        <!--Parameter 2-->
        <!--</div>-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__chart-schema&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__chart&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__row&ndash;&gt;-->
        <!--<div class="dashboard__row">-->

        <!--&lt;!&ndash;dashboard__item&ndash;&gt;-->
        <!--<div class="dashboard__item">-->

        <!--&lt;!&ndash;dashboard__item-head&ndash;&gt;-->
        <!--<div class="dashboard__item-head">-->

        <!--&lt;!&ndash;dashboard__item-title&ndash;&gt;-->
        <!--<h4 class="dashboard__item-title">Transaction Volume</h4>-->
        <!--&lt;!&ndash;/dashboard__item-title&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__item-head-action&ndash;&gt;-->
        <!--<a href="#" class="dashboard__item-head-action">Optional Action</a>-->
        <!--&lt;!&ndash;/dashboard__item-head-action&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item-head&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__chart&ndash;&gt;-->
        <!--<div class="dashboard__chart">-->

        <!--&lt;!&ndash;dashboard__chart-wrap&ndash;&gt;-->
        <!--<div class="dashboard__chart-wrap"></div>-->
        <!--&lt;!&ndash;/dashboard__chart-wrap&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__chart-schema&ndash;&gt;-->
        <!--<div class="dashboard__chart-schema">-->

        <!--<div>-->
        <!--<span style="background-color: #6caef8"></span>-->
        <!--Parameter 1-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #6ed575"></span>-->
        <!--Parameter 2-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #f7cc51"></span>-->
        <!--Parameter 3-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #fa8586"></span>-->
        <!--Parameter 4-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #54d0d0"></span>-->
        <!--Parameter 5-->
        <!--</div>-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__chart-schema&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__chart&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__item&ndash;&gt;-->
        <!--<div class="dashboard__item">-->

        <!--&lt;!&ndash;dashboard__item-head&ndash;&gt;-->
        <!--<div class="dashboard__item-head">-->

        <!--&lt;!&ndash;dashboard__item-title&ndash;&gt;-->
        <!--<h4 class="dashboard__item-title">Transactions by Card</h4>-->
        <!--&lt;!&ndash;/dashboard__item-title&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__item-head-action&ndash;&gt;-->
        <!--<a href="#" class="dashboard__item-head-action">View All</a>-->
        <!--&lt;!&ndash;/dashboard__item-head-action&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item-head&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table&ndash;&gt;-->
        <!--<div class="dashboard__table">-->

        <!--&lt;!&ndash;dashboard__table-head&ndash;&gt;-->
        <!--<div class="dashboard__table-head">-->

        <!--<div>Card Type</div>-->
        <!--<div>Status</div>-->
        <!--<div>Total</div>-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__table-head&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-body&ndash;&gt;-->
        <!--<div class="dashboard__table-body">-->

        <!--&lt;!&ndash;dashboard__table-row&ndash;&gt;-->
        <!--<div class="dashboard__table-row">-->

        <!--&lt;!&ndash;dashboard__table-type&ndash;&gt;-->
        <!--<div class="dashboard__table-type">Master Card</div>-->
        <!--&lt;!&ndash;/dashboard__table-type&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-status&ndash;&gt;-->
        <!--<div class="dashboard__table-status secured">Secured</div>-->
        <!--&lt;!&ndash;/dashboard__table-status&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-price&ndash;&gt;-->
        <!--<div class="dashboard__table-price">23 564.56</div>-->
        <!--&lt;!&ndash;/dashboard__table-price&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__table-row&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-row&ndash;&gt;-->
        <!--<div class="dashboard__table-row">-->

        <!--&lt;!&ndash;dashboard__table-type&ndash;&gt;-->
        <!--<div class="dashboard__table-type">Visa Electron</div>-->
        <!--&lt;!&ndash;/dashboard__table-type&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-status&ndash;&gt;-->
        <!--<div class="dashboard__table-status fraud">Fraud</div>-->
        <!--&lt;!&ndash;/dashboard__table-status&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-price&ndash;&gt;-->
        <!--<div class="dashboard__table-price">56 344.43</div>-->
        <!--&lt;!&ndash;/dashboard__table-price&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__table-row&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-row&ndash;&gt;-->
        <!--<div class="dashboard__table-row">-->

        <!--&lt;!&ndash;dashboard__table-type&ndash;&gt;-->
        <!--<div class="dashboard__table-type">American Express</div>-->
        <!--&lt;!&ndash;/dashboard__table-type&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-status&ndash;&gt;-->
        <!--<div class="dashboard__table-status blocked">Blocked</div>-->
        <!--&lt;!&ndash;/dashboard__table-status&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-price&ndash;&gt;-->
        <!--<div class="dashboard__table-price">4 500.08</div>-->
        <!--&lt;!&ndash;/dashboard__table-price&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__table-row&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-row&ndash;&gt;-->
        <!--<div class="dashboard__table-row">-->

        <!--&lt;!&ndash;dashboard__table-type&ndash;&gt;-->
        <!--<div class="dashboard__table-type">Visa Clasic</div>-->
        <!--&lt;!&ndash;/dashboard__table-type&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-status&ndash;&gt;-->
        <!--<div class="dashboard__table-status secured">Secured</div>-->
        <!--&lt;!&ndash;/dashboard__table-status&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-price&ndash;&gt;-->
        <!--<div class="dashboard__table-price">11 209.45</div>-->
        <!--&lt;!&ndash;/dashboard__table-price&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__table-row&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-row&ndash;&gt;-->
        <!--<div class="dashboard__table-row">-->

        <!--&lt;!&ndash;dashboard__table-type&ndash;&gt;-->
        <!--<div class="dashboard__table-type">Master Card</div>-->
        <!--&lt;!&ndash;/dashboard__table-type&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-status&ndash;&gt;-->
        <!--<div class="dashboard__table-status secured">Secured</div>-->
        <!--&lt;!&ndash;/dashboard__table-status&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-price&ndash;&gt;-->
        <!--<div class="dashboard__table-price">23 564.56</div>-->
        <!--&lt;!&ndash;/dashboard__table-price&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__table-row&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__table-body&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__table&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__row&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__item&ndash;&gt;-->
        <!--<div class="dashboard__item">-->

        <!--&lt;!&ndash;dashboard__item-head&ndash;&gt;-->
        <!--<div class="dashboard__item-head">-->

        <!--&lt;!&ndash;dashboard__item-title&ndash;&gt;-->
        <!--<h4 class="dashboard__item-title">Transaction Volume</h4>-->
        <!--&lt;!&ndash;/dashboard__item-title&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__item-head-action&ndash;&gt;-->
        <!--<a href="#" class="dashboard__item-head-action">Optional Action</a>-->
        <!--&lt;!&ndash;/dashboard__item-head-action&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item-head&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__chart&ndash;&gt;-->
        <!--<div class="dashboard__chart">-->

        <!--&lt;!&ndash;dashboard__chart-wrap&ndash;&gt;-->
        <!--<div class="dashboard__chart-wrap"></div>-->
        <!--&lt;!&ndash;/dashboard__chart-wrap&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__chart-schema&ndash;&gt;-->
        <!--<div class="dashboard__chart-schema">-->

        <!--<div>-->
        <!--<span style="background-color: #6caef8"></span>-->
        <!--Parameter 1-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #6ed575"></span>-->
        <!--This is an example of long name of parameter-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #f7cc51"></span>-->
        <!--Parameter 3-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #fa8586"></span>-->
        <!--Parameter 4-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #54d0d0"></span>-->
        <!--Parameter 5-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #c59aeb"></span>-->
        <!--Parameter 6-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #ceee5f"></span>-->
        <!--Parameter 8-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #9bd7ff"></span>-->
        <!--Parameter 9-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #ff88c3"></span>-->
        <!--Parameter 10-->
        <!--</div>-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__chart-schema&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__chart&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item&ndash;&gt;-->


    </div>
    <!--/dashboard-->

</div>
<!--/main__scroll-->

<!--main__scroll-->
<div class="main__scroll" *ngIf="!viewSize" [@FadeInOut]="">

    <!--dashboard-->
    <div class="dashboard">

        <!--main__head-->
        <div class="main__head">

            <!--main__title-->
            <h2 class="main__title">Dashboard</h2>
            <!--/main__title-->

            <!--&lt;!&ndash;main__head-btns&ndash;&gt;-->
            <!--<div class="main__head-btns">-->

            <!--&lt;!&ndash;btn&ndash;&gt;-->
            <!--<a href="#" class="btn">Quick Action</a>-->
            <!--&lt;!&ndash;/btn&ndash;&gt;-->

            <!--&lt;!&ndash;btn&ndash;&gt;-->
            <!--<a href="#" class="btn btn_create">Create</a>-->
            <!--&lt;!&ndash;/btn&ndash;&gt;-->

            <!--</div>-->
            <!--&lt;!&ndash;/main__head-btns&ndash;&gt;-->

        </div>
        <!--/main__head-->

        <!--&lt;!&ndash;dashboard__item&ndash;&gt;-->
        <!--<div class="dashboard__item dashboard__item_fraud">-->

        <!--&lt;!&ndash;dashboard__item-head&ndash;&gt;-->
        <!--<div class="dashboard__item-head">-->

        <!--&lt;!&ndash;dashboard__item-title&ndash;&gt;-->
        <!--<h3 class="dashboard__item-title">Fraud Detected</h3>-->
        <!--&lt;!&ndash;/dashboard__item-title&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item-head&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__item-text&ndash;&gt;-->
        <!--<p class="dashboard__item-text">-->
        <!--The average fraud level is higher then usual level for last 30 days for <a href="#">Smart Electronics</a> merchant at-->
        <!--<a href="#">World Trade Center</a> location. Please review logs for more details.-->
        <!--</p>-->
        <!--&lt;!&ndash;/dashboard__item-text&ndash;&gt;-->

        <!--&lt;!&ndash;main__btns&ndash;&gt;-->
        <!--<div class="main__btns">-->

        <!--&lt;!&ndash;btn&ndash;&gt;-->
        <!--<a href="#" class="btn">View Logs</a>-->
        <!--&lt;!&ndash;/btn&ndash;&gt;-->

        <!--&lt;!&ndash;main__btns-link&ndash;&gt;-->
        <!--<a href="#" class="main__btns-link">Dismiss</a>-->
        <!--&lt;!&ndash;/main__btns-link&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/main__btns&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__row&ndash;&gt;-->
        <!--<div class="dashboard__row">-->

        <!--&lt;!&ndash;dashboard__item&ndash;&gt;-->
        <!--<div class="dashboard__item">-->

        <!--&lt;!&ndash;dashboard__item-head&ndash;&gt;-->
        <!--<div class="dashboard__item-head">-->

        <!--&lt;!&ndash;dashboard__item-title&ndash;&gt;-->
        <!--<h4 class="dashboard__item-title">Transaction Velocity</h4>-->
        <!--&lt;!&ndash;/dashboard__item-title&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__item-head-action&ndash;&gt;-->
        <!--<a href="#" class="dashboard__item-head-action">View Details</a>-->
        <!--&lt;!&ndash;/dashboard__item-head-action&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item-head&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__chart&ndash;&gt;-->
        <!--<div class="dashboard__chart">-->

        <!--&lt;!&ndash;dashboard__chart-wrap&ndash;&gt;-->
        <!--<div class="dashboard__chart-wrap"></div>-->
        <!--&lt;!&ndash;/dashboard__chart-wrap&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__chart-schema&ndash;&gt;-->
        <!--<div class="dashboard__chart-schema">-->

        <!--<div>-->
        <!--<span style="background-color: #6caef8"></span>-->
        <!--Parameter 1-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #6ed575"></span>-->
        <!--Parameter 2-->
        <!--</div>-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__chart-schema&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__chart&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__item&ndash;&gt;-->
        <!--<div class="dashboard__item">-->

        <!--&lt;!&ndash;dashboard__item-head&ndash;&gt;-->
        <!--<div class="dashboard__item-head">-->

        <!--&lt;!&ndash;dashboard__item-title&ndash;&gt;-->
        <!--<h4 class="dashboard__item-title">Card Types</h4>-->
        <!--&lt;!&ndash;/dashboard__item-title&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__item-head-action&ndash;&gt;-->
        <!--<a href="#" class="dashboard__item-head-action">Optional Action</a>-->
        <!--&lt;!&ndash;/dashboard__item-head-action&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item-head&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__chart&ndash;&gt;-->
        <!--<div class="dashboard__chart">-->

        <!--&lt;!&ndash;dashboard__chart-wrap&ndash;&gt;-->
        <!--<div class="dashboard__chart-wrap"></div>-->
        <!--&lt;!&ndash;/dashboard__chart-wrap&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__chart-schema&ndash;&gt;-->
        <!--<div class="dashboard__chart-schema">-->

        <!--<div>-->
        <!--<span style="background-color: #6caef8"></span>-->
        <!--Visa-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #6ed575"></span>-->
        <!--Master Card-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #f7cc51"></span>-->
        <!--American Express-->
        <!--</div>-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__chart-schema&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__chart&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__row&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__item&ndash;&gt;-->
        <!--<div class="dashboard__item">-->

        <!--&lt;!&ndash;dashboard__item-head&ndash;&gt;-->
        <!--<div class="dashboard__item-head">-->

        <!--&lt;!&ndash;dashboard__item-title&ndash;&gt;-->
        <!--<h3 class="dashboard__item-title">Live Statistics</h3>-->
        <!--&lt;!&ndash;/dashboard__item-title&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__item-head-action&ndash;&gt;-->
        <!--<div class="dashboard__item-head-action">Optional Action</div>-->
        <!--&lt;!&ndash;/dashboard__item-head-action&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item-head&ndash;&gt;-->

        <!--&lt;!&ndash;count&ndash;&gt;-->
        <!--<div class="count">-->

        <!--&lt;!&ndash;count__item&ndash;&gt;-->
        <!--<div class="count__item">-->

        <!--&lt;!&ndash;count__value&ndash;&gt;-->
        <!--<div class="count__value"-->
        <!--count-->
        <!--[step]="100"-->
        <!--[countTo]="2458"-->
        <!--[countFrom]="0"-->
        <!--[duration]="3000"-->
        <!--(countoChange)="counto = $event">{{ counto }}-->
        <!--</div>-->
        <!--&lt;!&ndash;/count__value&ndash;&gt;-->

        <!--&lt;!&ndash;count__text&ndash;&gt;-->
        <!--<p class="count__text">-->
        <!--Transactions-->
        <!--for Last 30 Minutes-->
        <!--</p>-->
        <!--&lt;!&ndash;/count__text&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/count__item&ndash;&gt;-->

        <!--&lt;!&ndash;count__item&ndash;&gt;-->
        <!--<div class="count__item">-->

        <!--&lt;!&ndash;count__value&ndash;&gt;-->
        <!--<div class="count__value"-->
        <!--count-->
        <!--[step]="100"-->
        <!--[countTo]="2458635"-->
        <!--[countFrom]="0"-->
        <!--[duration]="3000"-->
        <!--(countoChange)="counto = $event">{{ counto }}-->
        <!--</div>-->
        <!--&lt;!&ndash;/count__value&ndash;&gt;-->

        <!--&lt;!&ndash;count__text&ndash;&gt;-->
        <!--<p class="count__text">Total Transactions Amount</p>-->
        <!--&lt;!&ndash;/count__text&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/count__item&ndash;&gt;-->

        <!--&lt;!&ndash;count__item&ndash;&gt;-->
        <!--<div class="count__item">-->

        <!--&lt;!&ndash;count__value&ndash;&gt;-->
        <!--<div class="count__value"-->
        <!--count-->
        <!--[step]="100"-->
        <!--[countTo]= "890.56"-->
        <!--[countFrom]= "0"-->
        <!--[duration]="3000"-->
        <!--(countoChange)="counto = $event">{{ counto }}-->
        <!--</div>-->
        <!--&lt;!&ndash;/count__value&ndash;&gt;-->

        <!--&lt;!&ndash;count__text&ndash;&gt;-->
        <!--<p class="count__text">-->
        <!--Average Transaction-->
        <!--Amount-->
        <!--</p>-->
        <!--&lt;!&ndash;/count__text&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/count__item&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/count&ndash;&gt;-->
        <!---->
        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__item&ndash;&gt;-->
        <!--<div class="dashboard__item">-->

        <!--&lt;!&ndash;dashboard__item-head&ndash;&gt;-->
        <!--<div class="dashboard__item-head">-->

        <!--&lt;!&ndash;dashboard__item-title&ndash;&gt;-->
        <!--<h4 class="dashboard__item-title">Transaction Velocity</h4>-->
        <!--&lt;!&ndash;/dashboard__item-title&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__item-head-action&ndash;&gt;-->
        <!--<a href="#" class="dashboard__item-head-action">View Details</a>-->
        <!--&lt;!&ndash;/dashboard__item-head-action&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item-head&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__chart&ndash;&gt;-->
        <!--<div class="dashboard__chart">-->

        <!--&lt;!&ndash;dashboard__chart-wrap&ndash;&gt;-->
        <!--<div class="dashboard__chart-wrap"></div>-->
        <!--&lt;!&ndash;/dashboard__chart-wrap&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__chart-schema&ndash;&gt;-->
        <!--<div class="dashboard__chart-schema">-->

        <!--<div>-->
        <!--<span style="background-color: #6caef8"></span>-->
        <!--Parameter 1-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #6ed575"></span>-->
        <!--Parameter 2-->
        <!--</div>-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__chart-schema&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__chart&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__row&ndash;&gt;-->
        <!--<div class="dashboard__row">-->

        <!--&lt;!&ndash;dashboard__item&ndash;&gt;-->
        <!--<div class="dashboard__item">-->

        <!--&lt;!&ndash;dashboard__item-head&ndash;&gt;-->
        <!--<div class="dashboard__item-head">-->

        <!--&lt;!&ndash;dashboard__item-title&ndash;&gt;-->
        <!--<h4 class="dashboard__item-title">Transaction Volume</h4>-->
        <!--&lt;!&ndash;/dashboard__item-title&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__item-head-action&ndash;&gt;-->
        <!--<a href="#" class="dashboard__item-head-action">Optional Action</a>-->
        <!--&lt;!&ndash;/dashboard__item-head-action&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item-head&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__chart&ndash;&gt;-->
        <!--<div class="dashboard__chart">-->

        <!--&lt;!&ndash;dashboard__chart-wrap&ndash;&gt;-->
        <!--<div class="dashboard__chart-wrap"></div>-->
        <!--&lt;!&ndash;/dashboard__chart-wrap&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__chart-schema&ndash;&gt;-->
        <!--<div class="dashboard__chart-schema">-->

        <!--<div>-->
        <!--<span style="background-color: #6caef8"></span>-->
        <!--Parameter 1-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #6ed575"></span>-->
        <!--Parameter 2-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #f7cc51"></span>-->
        <!--Parameter 3-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #fa8586"></span>-->
        <!--Parameter 4-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #54d0d0"></span>-->
        <!--Parameter 5-->
        <!--</div>-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__chart-schema&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__chart&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__item&ndash;&gt;-->
        <!--<div class="dashboard__item">-->

        <!--&lt;!&ndash;dashboard__item-head&ndash;&gt;-->
        <!--<div class="dashboard__item-head">-->

        <!--&lt;!&ndash;dashboard__item-title&ndash;&gt;-->
        <!--<h4 class="dashboard__item-title">Transactions by Card</h4>-->
        <!--&lt;!&ndash;/dashboard__item-title&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__item-head-action&ndash;&gt;-->
        <!--<a href="#" class="dashboard__item-head-action">View All</a>-->
        <!--&lt;!&ndash;/dashboard__item-head-action&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item-head&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table&ndash;&gt;-->
        <!--<div class="dashboard__table">-->

        <!--&lt;!&ndash;dashboard__table-head&ndash;&gt;-->
        <!--<div class="dashboard__table-head">-->

        <!--<div>Card Type</div>-->
        <!--<div>Status</div>-->
        <!--<div>Total</div>-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__table-head&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-body&ndash;&gt;-->
        <!--<div class="dashboard__table-body">-->

        <!--&lt;!&ndash;dashboard__table-row&ndash;&gt;-->
        <!--<div class="dashboard__table-row">-->

        <!--&lt;!&ndash;dashboard__table-type&ndash;&gt;-->
        <!--<div class="dashboard__table-type">Master Card</div>-->
        <!--&lt;!&ndash;/dashboard__table-type&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-status&ndash;&gt;-->
        <!--<div class="dashboard__table-status secured">Secured</div>-->
        <!--&lt;!&ndash;/dashboard__table-status&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-price&ndash;&gt;-->
        <!--<div class="dashboard__table-price">23 564.56</div>-->
        <!--&lt;!&ndash;/dashboard__table-price&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__table-row&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-row&ndash;&gt;-->
        <!--<div class="dashboard__table-row">-->

        <!--&lt;!&ndash;dashboard__table-type&ndash;&gt;-->
        <!--<div class="dashboard__table-type">Visa Electron</div>-->
        <!--&lt;!&ndash;/dashboard__table-type&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-status&ndash;&gt;-->
        <!--<div class="dashboard__table-status fraud">Fraud</div>-->
        <!--&lt;!&ndash;/dashboard__table-status&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-price&ndash;&gt;-->
        <!--<div class="dashboard__table-price">56 344.43</div>-->
        <!--&lt;!&ndash;/dashboard__table-price&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__table-row&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-row&ndash;&gt;-->
        <!--<div class="dashboard__table-row">-->

        <!--&lt;!&ndash;dashboard__table-type&ndash;&gt;-->
        <!--<div class="dashboard__table-type">American Express</div>-->
        <!--&lt;!&ndash;/dashboard__table-type&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-status&ndash;&gt;-->
        <!--<div class="dashboard__table-status blocked">Blocked</div>-->
        <!--&lt;!&ndash;/dashboard__table-status&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-price&ndash;&gt;-->
        <!--<div class="dashboard__table-price">4 500.08</div>-->
        <!--&lt;!&ndash;/dashboard__table-price&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__table-row&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-row&ndash;&gt;-->
        <!--<div class="dashboard__table-row">-->

        <!--&lt;!&ndash;dashboard__table-type&ndash;&gt;-->
        <!--<div class="dashboard__table-type">Visa Clasic</div>-->
        <!--&lt;!&ndash;/dashboard__table-type&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-status&ndash;&gt;-->
        <!--<div class="dashboard__table-status secured">Secured</div>-->
        <!--&lt;!&ndash;/dashboard__table-status&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-price&ndash;&gt;-->
        <!--<div class="dashboard__table-price">11 209.45</div>-->
        <!--&lt;!&ndash;/dashboard__table-price&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__table-row&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-row&ndash;&gt;-->
        <!--<div class="dashboard__table-row">-->

        <!--&lt;!&ndash;dashboard__table-type&ndash;&gt;-->
        <!--<div class="dashboard__table-type">Master Card</div>-->
        <!--&lt;!&ndash;/dashboard__table-type&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-status&ndash;&gt;-->
        <!--<div class="dashboard__table-status secured">Secured</div>-->
        <!--&lt;!&ndash;/dashboard__table-status&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__table-price&ndash;&gt;-->
        <!--<div class="dashboard__table-price">23 564.56</div>-->
        <!--&lt;!&ndash;/dashboard__table-price&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__table-row&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__table-body&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__table&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__row&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__item&ndash;&gt;-->
        <!--<div class="dashboard__item">-->

        <!--&lt;!&ndash;dashboard__item-head&ndash;&gt;-->
        <!--<div class="dashboard__item-head">-->

        <!--&lt;!&ndash;dashboard__item-title&ndash;&gt;-->
        <!--<h4 class="dashboard__item-title">Transaction Volume</h4>-->
        <!--&lt;!&ndash;/dashboard__item-title&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__item-head-action&ndash;&gt;-->
        <!--<a href="#" class="dashboard__item-head-action">Optional Action</a>-->
        <!--&lt;!&ndash;/dashboard__item-head-action&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item-head&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__chart&ndash;&gt;-->
        <!--<div class="dashboard__chart">-->

        <!--&lt;!&ndash;dashboard__chart-wrap&ndash;&gt;-->
        <!--<div class="dashboard__chart-wrap"></div>-->
        <!--&lt;!&ndash;/dashboard__chart-wrap&ndash;&gt;-->

        <!--&lt;!&ndash;dashboard__chart-schema&ndash;&gt;-->
        <!--<div class="dashboard__chart-schema">-->

        <!--<div>-->
        <!--<span style="background-color: #6caef8"></span>-->
        <!--Parameter 1-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #6ed575"></span>-->
        <!--This is an example of long name of parameter-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #f7cc51"></span>-->
        <!--Parameter 3-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #fa8586"></span>-->
        <!--Parameter 4-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #54d0d0"></span>-->
        <!--Parameter 5-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #c59aeb"></span>-->
        <!--Parameter 6-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #ceee5f"></span>-->
        <!--Parameter 8-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #9bd7ff"></span>-->
        <!--Parameter 9-->
        <!--</div>-->

        <!--<div>-->
        <!--<span style="background-color: #ff88c3"></span>-->
        <!--Parameter 10-->
        <!--</div>-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__chart-schema&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__chart&ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash;/dashboard__item&ndash;&gt;-->


    </div>
    <!--/dashboard-->

</div>
<!--/main__scroll-->
