<!--main__scroll-->
<div class="main__scroll" *ngIf="viewSize" perfect-scrollbar [@FadeInOut]="texts">

  <!--profile-->
  <div class="profile"  *ngIf="loaded">

    <!--main__title-->
    <h1 class="main__title">{{ texts[ 'title' ] }}</h1>
    <!--/main__title-->

    <!--profile__links-->
    <div class="profile__links">

      <a *ngFor="let link of menu"
              [routerLink]="link[ 'path' ]">

        {{ link[ 'title' ][ language ] }}

      </a>

    </div>
    <!--/profile__links-->

    <!--profile__info-->
    <div class="profile__info">

      <!--profile__info-title-->
      <h2 class="profile__info-title">

        <!--profile__info-title-icon-->
        <i class="profile__info-title-icon">
          <svg width="24px" height="24px" viewBox="0 0 24 24"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="user" fill="#CBCFDA"><path d="M7.18630005,12.0821764 C5.36735093,12.456869 4,14.0685723 4,16 L4,18.0018986 C4,19.1132936 4.8927712,20 5.99406028,20 L18.0059397,20 C19.1054862,20 20,19.1054196 20,18.0018986 L20,16 C20,14.072473 18.6323547,12.4578079 16.8135214,12.0823456 C15.5589631,13.2709472 13.8646212,14 12,14 C10.1352903,14 8.44087622,13.270878 7.18630005,12.0821764 Z M12,12 C14.209139,12 16,10.209139 16,8 C16,5.790861 14.209139,4 12,4 C9.790861,4 8,5.790861 8,8 C8,10.209139 9.790861,12 12,12 Z"> </path></g></g></svg>
        </i>
        <!--/profile__info-title-icon-->

        {{texts[ 'infoTitle' ]}}

      </h2>
      <!--/profile__info-title-->

      <!--profile__info-inner-->
      <div class="profile__info-inner">

        <!--profile__info-item-->
        <div class="profile__info-item">

          <!--profile__info-label-->
          <div class="profile__info-label">{{ texts[ 'info' ][ 'name' ] }}</div>
          <!--/profile__info-label-->

          <!--profile__info-info-->
          <div class="profile__info-info">{{ userData[ 'firstName' ] + ' ' + userData[ 'lastName' ] }}</div>
          <!--/profile__info-info-->

        </div>
        <!--/profile__info-item-->

        <!--profile__info-item-->
        <div class="profile__info-item" *ngIf="userRole[ 'text' ]">

          <!--profile__info-label-->
          <div class="profile__info-label">{{ texts[ 'info' ][ 'role' ] }}</div>
          <!--/profile__info-label-->

          <!--profile__info-info-->
          <div class="profile__info-info">{{ userRole[ 'text' ] }}</div>
          <!--/profile__info-info-->

        </div>
        <!--/profile__info-item-->

        <!--profile__info-item-->
        <div class="profile__info-item" *ngIf="userData[ 'email' ]">

          <!--profile__info-label-->
          <div class="profile__info-label">{{ texts[ 'info' ][ 'email' ] }}</div>
          <!--/profile__info-label-->

          <!--profile__info-info-->
          <div class="profile__info-info">
            <a href="mailto:{{ userData[ 'email' ] }}"
                    [activeEffect]="'blue'">
              {{ userData[ 'email' ] }}
            </a>
          </div>
          <!--/profile__info-info-->

        </div>
        <!--/profile__info-item-->

        <!--profile__info-item-->
        <div class="profile__info-item" *ngIf="userData[ 'mobileNum' ]">

          <!--profile__info-label-->
          <div class="profile__info-label">{{ texts[ 'info' ][ 'phone' ] }}</div>
          <!--/profile__info-label-->

          <!--profile__info-info-->
          <div class="profile__info-info">
            <a class="phone" href="tel:{{userData[ 'mobileNum' ]}}">{{ userData[ 'mobileNum' ] }}</a>
          </div>
          <!--/profile__info-info-->

        </div>
        <!--/profile__info-item-->

      </div>
      <!--/profile__info-inner-->

    </div>
    <!--/profile__info-->

  </div>
  <!--/profile-->

</div>
<!--/main__scroll-->

<!--main__scroll-->
<div class="main__scroll" *ngIf="!viewSize" [@FadeInOut]="texts">

  <!--profile-->
  <div class="profile"  *ngIf="loaded">

    <!--main__title-->
    <h1 class="main__title">{{ texts[ 'title' ] }}</h1>
    <!--/main__title-->

    <!--profile__links-->
    <div class="profile__links">

      <a *ngFor="let link of menu"
         [routerLink]="link[ 'path' ]">

        {{ link[ 'title' ][ language ] }}

      </a>

    </div>
    <!--/profile__links-->

    <!--profile__info-->
    <div class="profile__info">

      <!--profile__info-title-->
      <h2 class="profile__info-title">

        <!--profile__info-title-icon-->
        <i class="profile__info-title-icon">
          <svg width="24px" height="24px" viewBox="0 0 24 24"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="user" fill="#CBCFDA"><path d="M7.18630005,12.0821764 C5.36735093,12.456869 4,14.0685723 4,16 L4,18.0018986 C4,19.1132936 4.8927712,20 5.99406028,20 L18.0059397,20 C19.1054862,20 20,19.1054196 20,18.0018986 L20,16 C20,14.072473 18.6323547,12.4578079 16.8135214,12.0823456 C15.5589631,13.2709472 13.8646212,14 12,14 C10.1352903,14 8.44087622,13.270878 7.18630005,12.0821764 Z M12,12 C14.209139,12 16,10.209139 16,8 C16,5.790861 14.209139,4 12,4 C9.790861,4 8,5.790861 8,8 C8,10.209139 9.790861,12 12,12 Z"> </path></g></g></svg>
        </i>
        <!--/profile__info-title-icon-->

        {{texts[ 'infoTitle' ]}}

      </h2>
      <!--/profile__info-title-->

      <!--profile__info-inner-->
      <div class="profile__info-inner">

        <!--profile__info-item-->
        <div class="profile__info-item">

          <!--profile__info-label-->
          <div class="profile__info-label">{{ texts[ 'info' ][ 'name' ] }}</div>
          <!--/profile__info-label-->

          <!--profile__info-info-->
          <div class="profile__info-info">{{ userData[ 'firstName' ] + ' ' + userData[ 'lastName' ] }}</div>
          <!--/profile__info-info-->

        </div>
        <!--/profile__info-item-->

        <!--profile__info-item-->
        <div class="profile__info-item" *ngIf="userRole[ 'text' ]">

          <!--profile__info-label-->
          <div class="profile__info-label">{{ texts[ 'info' ][ 'role' ] }}</div>
          <!--/profile__info-label-->

          <!--profile__info-info-->
          <div class="profile__info-info">{{ userRole[ 'text' ] }}</div>
          <!--/profile__info-info-->

        </div>
        <!--/profile__info-item-->

        <!--profile__info-item-->
        <div class="profile__info-item" *ngIf="userData[ 'email' ]">

          <!--profile__info-label-->
          <div class="profile__info-label">{{ texts[ 'info' ][ 'email' ] }}</div>
          <!--/profile__info-label-->

          <!--profile__info-info-->
          <div class="profile__info-info">
            <a href="mailto:{{ userData[ 'email' ] }}"
               [activeEffect]="'blue'">
              {{ userData[ 'email' ] }}
            </a>
          </div>
          <!--/profile__info-info-->

        </div>
        <!--/profile__info-item-->

        <!--profile__info-item-->
        <div class="profile__info-item" *ngIf="userData[ 'mobileNum' ]">

          <!--profile__info-label-->
          <div class="profile__info-label">{{ texts[ 'info' ][ 'phone' ] }}</div>
          <!--/profile__info-label-->

          <!--profile__info-info-->
          <div class="profile__info-info">
            <a class="phone" href="tel:{{userData[ 'mobileNum' ]}}">{{ userData[ 'mobileNum' ] }}</a>
          </div>
          <!--/profile__info-info-->

        </div>
        <!--/profile__info-item-->

      </div>
      <!--/profile__info-inner-->

    </div>
    <!--/profile__info-->

  </div>
  <!--/profile-->

</div>
<!--/main__scroll-->
