$main-white-color: #fff;
$main-black-color: #000;
$main-blue-color: #4e9ff8;
$main-blue-color-2: #7bb9ff;
$main-red-color-1: #f46771;
$main-red-color-2: #e83b47;
$main-green-color-1: #8cc574;
$main-bg-color: #F8F8F8;

/*---------- popup ----------*/
$popup-overlay-bg-color: rgba(5, 6, 14, 0.4);
$popup-bg-color: #fff;
/*---------- /popup ----------*/

/*---------- notifications ----------*/
$notification-success-back: #8cc574;
$notification-error-back: #ee7e85;
$notification-warning-back: #ffb163;
$notification-info-back: #69adf7;
$notification-success-color: #d3ff8c;
$notification-error-color: #ffd8a2;
$notification-warning-color: #fffb97;
$notification-info-color: #a6fbff;
/*---------- /notifications ----------*/

/*---------- nice-radio ----------*/
$nice-radio-after-color: #000;
$nice-radio-color: #000;
/*---------- /nice-radio ---------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-after-color: #000;
$nice-checkbox-color: #000;
/*---------- /nice-checkbox ---------*/

