.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh 0;
  color: #cbcfda;
  font-size: 16px;
  font-weight: 200;

  &__icon{
    margin-bottom: 1.8vh;

    svg{
      display: block;
      width: 7vh;
      min-width: 34px;
      height: 7vh;
      min-height: 34px;
      fill: #e8ebf1;

      path{
        fill: #e8ebf1;
      }

    }

  }

}

@media (min-width: $tablet-portrait) {

  .empty {
    font-size: 3vh;
  }

}