.users {
  position: relative;
  padding: 0 20px;

  &__delete {
    display: inline-block;
    margin-bottom: 21px;
    background: transparent;
    padding: 0;
    text-align: left;
    border: none;
    box-shadow: none;
    @include main-font();
    font-size: 16px;
    line-height: 1.25;
    font-weight: 900;
    cursor: pointer;
    color: $main-red-color-1;
  }
}

@media (min-width: $tablet-portrait) {

}
@media (min-width: $tablet-landscape) {

}
@media (min-width: $desktop) {

  .users {
    position: relative;
    padding: 0 35px;
    @include transition( opacity, $animation-time, 0 );

    &__delete {

      &:hover {
        opacity: .8;
      }
    }
    .main-form {
      max-width: 530px;
    }
  }

}

