<div class="main__scroll" *ngIf="viewSize" #mainscroll perfect-scrollbar [@FadeInOut]="">

    <div>

        <div class="main__head">

            <h2 class="main__title">{{ texts[ 'title' ] }}</h2>

            <!--main__head-btns-->
            <div class="main__head-btns">

                <button class="btn"
                        *ngIf="config[ 'createBtn' ]"
                        (click)="create()">
                    {{ texts[ 'createBtn' ] }}
                </button>

            </div>
            <!--/main__head-btns-->

        </div>

        <div class="main__controls" *ngIf="totalRecords">

            <countries-filter
                    [filterConf]="filterConf"
                    *ngIf="filterConf"
                    [lang]="language"
                    [viewSize]="viewSize">>
            </countries-filter>

            <div class="main__controls-wrap">

                <span class="main__controls-title">{{ totalStr }}</span>

            </div>

            <countries-search
                    *ngIf="config[ 'search' ]"
                    [placeholderText]="texts[ 'searchPlaceholder' ]">>
            </countries-search>

        </div>

        <countries-table
                *ngIf="tableData && totalRecords"
                [tableConf]="tableConf"
                [tableData]="tableData"
                [viewSize]="viewSize"
                [loading]="loading"
                [language]="language"
                [empty]="empty"
                [texts]="texts">
        </countries-table>

        <div class="empty" *ngIf="!totalRecords">

            <!--empty__icon-->
            <div class="empty__icon">

                <svg viewBox="0 0 24 24">
                   <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g>
                            <path d="M17,6 L20.6072212,3.114223 C21.3764317,2.49885463 22,2.89451376 22,3.99406028 L22,16.0059397 C22,17.1072288 21.3768562,18.4985151 20.6072212,19.114223 L17,22 L17,6 Z M15,6 L15,22 L9,18 L9,2 L15,6 Z M7,18 L3.39277875,20.885777 C2.62356829,21.5011454 2,21.1054862 2,20.0059397 L2,7.99406028 C2,6.8927712 2.62314384,5.50148493 3.39277875,4.885777 L7,2 L7,18 Z" id="Combined-Shape"/>
                        </g>
                    </g>
                </svg>

            </div>
            <!--/empty__icon-->

            <div>{{ texts[ 'emptyTotal' ] }}</div>
        </div>

    </div>

</div>

<div class="main__scroll" *ngIf="!viewSize" [@FadeInOut]="">

    <div>

        <div class="main__head">

            <h2 class="main__title">{{ texts[ 'title' ] }}</h2>

            <!--main__head-btns-->
            <div class="main__head-btns">

                <button class="btn"
                        *ngIf="config[ 'createBtn' ]"
                        (click)="create()">
                    {{ texts[ 'createBtn' ] }}
                </button>

            </div>
            <!--/main__head-btns-->

        </div>

        <div class="main__controls" *ngIf="totalRecords">

            <countries-filter
                    [filterConf]="filterConf"
                    [totalString]="totalStr"
                    *ngIf="filterConf"
                    [lang]="language"
                    [viewSize]="viewSize">
            </countries-filter>

            <countries-search
                    *ngIf="config[ 'search' ]"
                    [placeholderText]="texts[ 'searchPlaceholder' ]">
            </countries-search>

        </div>

        <countries-table
                *ngIf="tableData && totalRecords"
                [tableConf]="tableConf"
                [tableData]="tableData"
                [viewSize]="viewSize"
                [loading]="loading"
                [language]="language"
                [empty]="empty"
                [texts]="texts">
        </countries-table>

        <div class="empty" *ngIf="!totalRecords">

            <!--empty__icon-->
            <div class="empty__icon">

                <svg viewBox="0 0 24 24">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g>
                            <path d="M17,6 L20.6072212,3.114223 C21.3764317,2.49885463 22,2.89451376 22,3.99406028 L22,16.0059397 C22,17.1072288 21.3768562,18.4985151 20.6072212,19.114223 L17,22 L17,6 Z M15,6 L15,22 L9,18 L9,2 L15,6 Z M7,18 L3.39277875,20.885777 C2.62356829,21.5011454 2,21.1054862 2,20.0059397 L2,7.99406028 C2,6.8927712 2.62314384,5.50148493 3.39277875,4.885777 L7,2 L7,18 Z" id="Combined-Shape"/>
                        </g>
                    </g>
                </svg>

            </div>
            <!--/empty__icon-->

            <div>{{ texts[ 'emptyTotal' ] }}</div>
        </div>

    </div>

</div>
