<div class="simple-dropdown">

    <div class="simple-dropdown_label">
      {{ label }}
      <span  (click)="closeDropDown()" class="simple-dropdown_close"></span>
    </div>
  <div class="simple-dropdown__wrap">
      <div class="simple-dropdown__wrap__static"></div>
      <div class="simple-dropdown__wrap__scrollable"  perfect-scrollbar>
          <div class="simple-dropdown__option"  *ngFor="let option of options" (click)="chooseValue(option.value)" [class.selected]="selected.key == option.value" >
            {{ option.text }}
          </div>
      </div>
    </div>
  </div>