<div class="main__scroll" #mainscroll *ngIf="viewSize" perfect-scrollbar [@FadeInOut]="">

    <div>

        <div class="main__head">

            <h2 class="main__title">{{ texts[ 'title' ] }}</h2>

            <!--main__head-btns-->
            <div class="main__head-btns">

                <button class="btn"
                        *ngIf="config[ 'createBtn' ]"
                        (click)="create()">
                    {{ texts[ 'createBtn' ] }}
                </button>

            </div>
            <!--/main__head-btns-->

        </div>

        <div class="main__controls" *ngIf="totalRecords">

            <device-types-filter
                    [filterConf]="filterConf"
                    *ngIf="filterConf"
                    [lang]="language"
                    [viewSize]="viewSize">
            </device-types-filter>

            <div class="main__controls-wrap">

                <span class="main__controls-title">{{ totalStr }}</span>

            </div>

            <device-types-search
                    *ngIf="config[ 'search' ]"
                    [placeholderText]="texts[ 'searchPlaceholder' ]">
            </device-types-search>

        </div>

        <device-types-table
                *ngIf="tableData && totalRecords"
                [tableConf]="tableConf"
                [tableData]="tableData"
                [viewSize]="viewSize"
                [loading]="loading"
                [language]="language"
                [empty]="empty"
                [texts]="texts" >
        </device-types-table>

        <div class="empty" *ngIf="!totalRecords">

            <!--empty__icon-->
            <div class="empty__icon">

                <svg viewBox="0 0 24 24">
                    <g id="UI-Kit" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="device" fill="#CBCFDA">
                            <path d="M3,4.99508929 C3,3.8932319 3.8926228,3 4.99508929,3 L19.0049107,3 C20.1067681,3 21,3.8926228 21,4.99508929 L21,19.0049107 C21,20.1067681 20.1073772,21 19.0049107,21 L4.99508929,21 C3.8932319,21 3,20.1073772 3,19.0049107 L3,4.99508929 Z M3,10 L3,12 L21,12 L21,10 L3,10 Z M6,17 C6,17.5561352 6.44661595,18 6.99754465,18 L14.0024554,18 C14.5536886,18 15,17.5522847 15,17 C15,16.4438648 14.553384,16 14.0024554,16 L6.99754465,16 C6.4463114,16 6,16.4477153 6,17 Z M6.5,8 C7.32842712,8 8,7.32842712 8,6.5 C8,5.67157288 7.32842712,5 6.5,5 C5.67157288,5 5,5.67157288 5,6.5 C5,7.32842712 5.67157288,8 6.5,8 Z" id="Combined-Shape"/>
                        </g>
                    </g>
                </svg>

            </div>
            <!--/empty__icon-->

            <div>{{ texts[ 'emptyTotal' ] }}</div>

        </div>

    </div>

</div>

<div class="main__scroll" *ngIf="!viewSize" [@FadeInOut]="">

    <div>

        <div class="main__head">

            <h2 class="main__title">{{ texts[ 'title' ] }}</h2>

            <!--main__head-btns-->
            <div class="main__head-btns">

                <button class="btn"
                        *ngIf="config[ 'createBtn' ]"
                        (click)="create()">
                    {{ texts[ 'createBtn' ] }}
                </button>

            </div>
            <!--/main__head-btns-->

        </div>

        <div class="main__controls" *ngIf="totalRecords">

            <device-types-filter [filterConf]="filterConf"
                                 [totalString]=" totalStr"
                                 *ngIf="filterConf"
                                 [lang]="language"
                                 [viewSize]="viewSize">
            </device-types-filter>

            <device-types-search *ngIf="config[ 'search' ]"
                                 [placeholderText]="texts[ 'searchPlaceholder' ]">
            </device-types-search>

        </div>

        <device-types-table *ngIf="tableData && totalRecords"
                            [tableConf]="tableConf"
                            [tableData]="tableData"
                            [viewSize]="viewSize"
                            [loading]="loading"
                            [language]="language"
                            [empty]="empty"
                            [texts]="texts">
        </device-types-table>

        <div class="empty" *ngIf="!totalRecords">

            <!--empty__icon-->
            <div class="empty__icon">

                <svg viewBox="0 0 24 24">
                    <g id="UI-Kit" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="device" fill="#CBCFDA">
                            <path d="M3,4.99508929 C3,3.8932319 3.8926228,3 4.99508929,3 L19.0049107,3 C20.1067681,3 21,3.8926228 21,4.99508929 L21,19.0049107 C21,20.1067681 20.1073772,21 19.0049107,21 L4.99508929,21 C3.8932319,21 3,20.1073772 3,19.0049107 L3,4.99508929 Z M3,10 L3,12 L21,12 L21,10 L3,10 Z M6,17 C6,17.5561352 6.44661595,18 6.99754465,18 L14.0024554,18 C14.5536886,18 15,17.5522847 15,17 C15,16.4438648 14.553384,16 14.0024554,16 L6.99754465,16 C6.4463114,16 6,16.4477153 6,17 Z M6.5,8 C7.32842712,8 8,7.32842712 8,6.5 C8,5.67157288 7.32842712,5 6.5,5 C5.67157288,5 5,5.67157288 5,6.5 C5,7.32842712 5.67157288,8 6.5,8 Z" id="Combined-Shape"/>
                        </g>
                    </g>
                </svg>

            </div>
            <!--/empty__icon-->

            <div>{{ texts[ 'emptyTotal' ] }}</div>
        </div>

    </div>

</div>
