@import "../../../../../scss/main-app";
@import "../../../../../scss/spinner";

.user-reset-password {
  @include main-font();

  p {
    font-size: 16px;
    line-height: 20px;
    color: #9ba1b9;

    a {
      color: #4e9ff8;

      &:hover {
        text-decoration: underline;
      }

    }

  }

  &__title {
    padding: 12px 19px 12px;
    box-shadow: 0 2px 4px 0 rgba(24, 40, 65, 0.15);
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    color: #212c3d;
  }
  &__content {
    padding: 18px 21px 30px;
    text-align: center;

    &_generate {
      padding: 18px 21px 30px;
      text-align: center;

      p {
        margin-bottom: 20px;
      }

    }

  }
  &__text {
    margin: 0 auto 20px;
    max-width: 400px;
    text-align: left;
  }
  &__main-btn {
    padding: 0 21px;
    margin: 0 auto 31px;
    width: 100%;
    @include main-font();
    max-width: 400px;
  }
  &__cancel-btn {
    border: none;
    height: auto;
    padding: 0;
    background: none;
    font-size: 16px;
    @include main-font();
    font-weight: 700;
    line-height: 19px;
    color: #4e9ff8;
  }

  .spinner {
    display: inline-block;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    width: 24px;
    height: 24px;

    &:before {
      width: 16px;
      height: 16px;
    }

  }

}

@media (min-width: $tablet-portrait) {

  .user-reset-password {

    p {
      font-size: 16px;
      line-height: 20px;
    }

    &__title {
      padding: 20px 35px 23px;
      margin-bottom: 9px;
      border-bottom: solid 2px #e8ebf1;
      box-shadow: none;
      font-weight: 300;
      font-size: 30px;
      line-height: 36px;
    }
    &__content {
      padding: 20px 35px 30px;
      text-align: left;

      &_generate {
        padding: 40px 35px 64px;
        text-align: center;

        p {
          margin-bottom: 20px;
        }

      }

    }
    &__text {
      margin: 0 0 30px;
      max-width: 100%;
    }
    &__main-btn {
      display: inline-flex;
      width: auto;
      padding: 0 21px;
      margin: 0 37px 0 0;
    }
    &__cancel-btn {
      font-size: 16px;
      line-height: 19px;
    }

  }

}