<div class="user-reset-password">

  <header>

    <h2 class="user-reset-password__title">{{ title }}</h2>

  </header>

  <div [ngSwitch]="state">

    <div *ngSwitchCase="0">

      <div class="user-reset-password__content">

        <div class="user-reset-password__text">
          <p>{{ texts[ 'description' ][ 0 ] }} {{ currentUser[ 'firstName' ] }} {{currentUser[ 'lastName' ] }}?</p>
          <p>{{ texts[ 'description' ][ 1 ] }}</p>
        </div>


        <button class="user-reset-password__main-btn btn" (click)="reset()">{{ texts[ 'btnReset' ] }}</button>
        <button class="user-reset-password__cancel-btn" (click)="close()">{{ texts[ 'btnCancel' ] }}</button>

      </div>

    </div>

    <div *ngSwitchCase="1">

      <div class="user-reset-password__content user-reset-password__content_generate">
        <p>{{ texts[ 'inAction' ] }}</p>
        <div class="spinner"></div>
      </div>

    </div>

    <div *ngSwitchCase="2">

      <div class="user-reset-password__content">
        <div class="user-reset-password__text">
          <p>{{ texts[ 'newMessage' ] }} <a href="mailTo:{{ currentUser[ 'email' ] }}">{{ currentUser[ 'email' ] }}</a></p>
        </div>

        <button class="user-reset-password__main-btn btn" (click)="close()">{{ texts[ 'btnOk' ] }}</button>
      </div>

    </div>

  </div>

</div>
