<div>

    <div class="transaction-log-row" (click)="open( item )">

        <div class="transaction-log-row__date">

            <span>{{ data[ 'date' ] | date: "dd MMM yyyy" }}</span>
            {{ data[ 'date' ] | date: "hh:mm:ss a" }}

        </div>

        <div class="transaction-log-row__transaction">

            <h2>{{ data[ 'info' ][ 'name' ] }}</h2>

            <div *ngFor="let item of data[ 'info' ][ 'params' ]">
                {{ item[ 'key' ] }}: {{ item[ 'value' ] }}
            </div>

        </div>

        <div class="transaction-log-row__amount">

            <dl>
                <dt>{{ texts[ 'requested' ] }}:</dt>
                <dd>{{ data[ 'requested_amount' ] || '-' }}</dd>
                <dt>{{ texts[ 'approved' ] }}:</dt>
                <dd>{{ data[ 'approved_amount' ] || '-' }}</dd>
            </dl>

        </div>

        <div class="transaction-log-row__status">

            <div>

                <div class="transaction-log-row__state">
                    <span class="type_{{ data[ 'status' ][ 'type' ] }}">{{ data[ 'status' ][ 'text' ] }}</span>
                </div>
                <button type="button"
                        (click)="viewJson( $event )"
                        [activeEffect]="'blue'">{{ texts[ 'btns' ][ 'view' ] }}</button>

                <div class="transaction-log-row__review" *ngIf="data[ 'for_review' ]">
                    <svg width="24px" height="24px" viewBox="0 0 24 24">
                        <g id="UI-Kit" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="for-review">
                                <g id="Marked" transform="translate(2.000000, 2.000000)">
                                    <circle id="Oval-11" fill="#F3CE68" cx="10" cy="10" r="10"></circle>
                                    <path d="M9,11.3636364 L9,15 L7,15 L7,9.54545455 L7,5 L15,8.63636364 L9,11.3636364 Z" id="Combined-Shape" fill="#FFFFFF"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                    {{ texts[ 'review' ] }}
                </div>

                <button class="transaction-log-row__mark"
                        [activeEffect]="'blue'"
                        (click)="mark( $event )"
                        type="button"
                        *ngIf="!data[ 'for_review' ]">{{ texts[ 'btns' ][ 'mark' ] }}</button>

                <button class="transaction-log-row__mark"
                        [activeEffect]="'blue'"
                        (click)="mark( $event )"
                        type="button"
                        *ngIf="data[ 'for_review' ]">{{ texts[ 'btns' ][ 'unMark' ] }}</button>

            </div>

        </div>

    </div>

</div>
