<!--main__scroll-->
<div class="main__scroll" *ngIf="viewSize"  perfect-scrollbar [@FadeInOut]="">

  <!--main__head-->
  <div class="main__head">

    <!--main__title-->
    <h2 class="main__title">Monitoring</h2>
    <!--/main__title-->

  </div>
  <!--/main__head-->

</div>
<!--/main__scroll-->

<!--main__scroll-->
<div class="main__scroll" *ngIf="!viewSize" [@FadeInOut]="">

  <!--main__head-->
  <div class="main__head">

    <!--main__title-->
    <h2 class="main__title">Monitoring</h2>
    <!--/main__title-->

  </div>
  <!--/main__head-->

</div>
<!--/main__scroll-->

