<div class="custom-table__row">

  <div [class.user-row]="viewSize >= 3"
          [class.user-row-mobile]="viewSize < 3">

    <div class="user-row__name">

      <h2 [highlight]="searchText"
          [color]="'#ffff97'"
          [content]="( data[ 'firstName' ] + ' ' + data[ 'lastName' ] )">

      </h2>

      {{ role }}

    </div>

    <div class="user-row__status">

      <switch-control
              [disabledState]="false"
              [formControl]="fc"
              [class]="">
      </switch-control>

    </div>

    <div class="user-row__contacts">

      <dl>
        <dt>E-mail:</dt>

        <dd>
          <a class="user-row__contacts-mail" href="mailto:{{ data[ 'email' ] }}">
            {{ data[ 'email' ] }}
          </a>
        </dd>
      </dl>

      <dl *ngIf="data[ 'mobileNum' ]">
        <dt>Phone</dt>

        <dd>
          <a href="tel:{{ data[ 'mobileNum' ] }}">
            {{ data[ 'mobileNum' ] }}
          </a>
        </dd>
      </dl>

    </div>

    <div class="user-row_btns edits" *ngIf="viewSize >=3; else mobileView">

      <a class="edits__btn" routerLink="/settings/users/{{ data[ 'id' ] }}/edit/" (click)="setCurrent()">{{ this.texts[ 'btnEdit' ] }}</a>

      <div class="edits__dropdown"
              [class.active]="isOpened"
              (mouseenter)="showDropDown()"
              (mouseleave)="closeDropDown()">

        <button class="edits__btn">
          <span>{{ this.texts[ 'btnMore' ] }}</span>
        </button>

        <div class="edits__dropdown-inner">

          <button class="edits__dropdown-btn" type="button" (click)="closeDropDown(); resetPassword()">
            {{ this.texts[ 'btnReset' ] }}
          </button>

          <button class="edits__dropdown-btn edits__dropdown-btn_delete" type="button" (click)="closeDropDown(); delete();">
            {{ this.texts[ 'btnDelete' ] }}
          </button>

        </div>

      </div>

    </div>

    <ng-template #mobileView>

      <div class="user-row_btns edits" *ngIf="viewSize < 3">

        <div class="edits__dropdown"
                [class.active]="isOpened"
                (mouseenter)="showDropDown()"
                (mouseleave)="closeDropDown()">

          <!--edits__dropdown-open-btn-->
          <button type="button" class="edits__dropdown-open-btn">
            <span></span>
          </button>
          <!--/edits__dropdown-open-btn-->

          <div class="edits__dropdown-inner">

            <button class="edits__dropdown-btn" routerLink="/settings/users/{{ data[ 'id' ] }}/edit">
              {{ this.texts[ 'btnEdit' ] }}
            </button>

            <button class="edits__dropdown-btn" type="button" (click)="closeDropDown(); resetPassword()">
              {{ this.texts[ 'btnReset' ] }}
            </button>

            <button class="edits__dropdown-btn edits__dropdown-btn_delete" type="button" (click)="closeDropDown(); delete();">
              {{ this.texts[ 'btnDelete' ] }}
            </button>

          </div>

        </div>

      </div>

    </ng-template>

  </div>

  <div *ngIf="loading" class="spinner"></div>

</div>
