
<!--main__scroll-->
<div class="main__scroll" *ngIf="texts && viewSize" perfect-scrollbar [@FadeInOut]="texts">

  <!--profile-->
  <div class="profile profile_edit">

    <!--profile__link-->
    <a class="profile__link"
            routerLink="/profile">
      {{ texts[ 'backBtn' ] }}
    </a>
    <!--/profile__link-->

    <!--main__title-->
    <h1 class="main__title">

      <!--main__title-icon-->
      <i class="main__title-icon">
        <svg width="30px" height="30" viewBox="0 0 30 30">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="change-password" fill-rule="nonzero" fill="#CBCFDA">
              <path d="M16,21.8292943 C17.1651924,21.4174579 18,20.3062188 18,19 C18,17.3431458 16.6568542,16 15,16 C13.3431458,16 12,17.3431458 12,19 C12,20.3062188 12.8348076,21.4174579 14,21.8292943 L14,24.009222 C14,24.5490248 14.4477153,25 15,25 C15.5561352,25 16,24.5564136 16,24.009222 L16,21.8292943 Z M22,12.8585672 C23.8513622,14.6734905 25,17.2026059 25,20 C25,25.5228475 20.5228475,30 15,30 C9.4771525,30 5,25.5228475 5,20 C5,17.2026059 6.14863777,14.6734905 8,12.8585672 L8,8.00586009 C8,4.1366304 11.1418733,1 15,1 C18.8659932,1 22,4.1368413 22,8.00586009 L22,12.8585672 Z M19,10.8320874 L19,8.00586009 C19,5.79304704 17.20849,4 15,4 C12.7960515,4 11,5.79616082 11,8.00586009 L11,10.8320874 C12.2249247,10.296895 13.5777906,10 15,10 C16.4222094,10 17.7750753,10.296895 19,10.8320874 Z" id="Combined-Shape"></path>
            </g>
          </g>
        </svg>
      </i>
      <!--/main__title-icon-->

      {{texts[ 'changePassword' ][ 'title' ]}}
    </h1>
    <!--/main__title-->

    <!--form-->
    <form  class="main-form"
            [formGroup]="editPasswordForm"
            [class.failure]="failureFlag"
            (change)="setDefaultState()"
            (submit)="submit( $event, editPasswordForm )">

      <fieldset class="main-field">

        <label for="current-password">
          {{texts[ 'changePassword' ][ 'labels' ][ 'currentPassword' ]}}
        </label>

        <div class="main-field__inner">

          <input id="current-password" type="password" name="current-password" formControlName="currentPassword">

          <div class="main-field__invalid">

            <div>
              {{texts[ 'filledError' ]}}
            </div>

          </div>

        </div>

      </fieldset>

      <fieldset class="main-field">

        <label for="new-password">
          {{texts[ 'changePassword' ][ 'labels' ][ 'newPassword' ]}}
        </label>

        <div class="main-field__inner">

          <input id="new-password" type="password" name="new-password" formControlName="newPassword">

          <div class="main-field__invalid">

            <div>
              {{texts[ 'filledError' ]}}
            </div>

          </div>

        </div>

      </fieldset>

      <fieldset class="main-field">

        <label for="verify-password">
          {{texts[ 'changePassword' ][ 'labels' ][ 'verifyPassword' ]}}
        </label>

        <div class="main-field__inner">

          <input id="verify-password" type="password" name="verify-password" formControlName="verifyPassword">

          <div class="main-field__invalid">

            <div>
              {{texts[ 'filledError' ]}}
            </div>

          </div>

        </div>

      </fieldset>

      <!--form__failure-->
      <div class="main-form__failure">

        <div *ngIf="failureText">{{ failureText }}</div>
        <div *ngIf="!failureText">{{ texts[ 'changePassword' ][ 'passwordCompareError' ] }}</div>

      </div>
      <!--/form__failure-->

      <!--form__btns-->
      <div class="main-form__btns">

        <!--btn-->
        <button class="btn"
                [disabled]="!editPasswordForm.valid"
                [class.btn_disabled]="!editPasswordForm.valid"
                [dropEffect]="'#2271ca'">

          <span class="btn__inner">{{texts[ 'changePassword' ][ 'submitBtn' ]}}</span>

        </button>
        <!--/btn-->

        <button type="button" class="main-form__link"
                [activeEffect]="'blue'">
          {{texts[ 'cancelBtn' ]}}
        </button>

      </div>
      <!--/form__btns-->

    </form>
    <!--/form-->

  </div>
  <!--/profile-->

  <div class="spinner spinner_main" *ngIf="loading" [@FadeInOut]="loading"></div>

</div>
<!--/main__scroll-->

<!--main__scroll-->
<div class="main__scroll" *ngIf="texts && !viewSize" [@FadeInOut]="texts">

  <!--profile-->
  <div class="profile profile_edit">

    <!--profile__link-->
    <a class="profile__link"
       routerLink="/profile">
      {{ texts[ 'backBtn' ] }}
    </a>
    <!--/profile__link-->

    <!--main__title-->
    <h1 class="main__title">

      <!--main__title-icon-->
      <i class="main__title-icon">
        <svg width="30px" height="30" viewBox="0 0 30 30">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="change-password" fill-rule="nonzero" fill="#CBCFDA">
              <path d="M16,21.8292943 C17.1651924,21.4174579 18,20.3062188 18,19 C18,17.3431458 16.6568542,16 15,16 C13.3431458,16 12,17.3431458 12,19 C12,20.3062188 12.8348076,21.4174579 14,21.8292943 L14,24.009222 C14,24.5490248 14.4477153,25 15,25 C15.5561352,25 16,24.5564136 16,24.009222 L16,21.8292943 Z M22,12.8585672 C23.8513622,14.6734905 25,17.2026059 25,20 C25,25.5228475 20.5228475,30 15,30 C9.4771525,30 5,25.5228475 5,20 C5,17.2026059 6.14863777,14.6734905 8,12.8585672 L8,8.00586009 C8,4.1366304 11.1418733,1 15,1 C18.8659932,1 22,4.1368413 22,8.00586009 L22,12.8585672 Z M19,10.8320874 L19,8.00586009 C19,5.79304704 17.20849,4 15,4 C12.7960515,4 11,5.79616082 11,8.00586009 L11,10.8320874 C12.2249247,10.296895 13.5777906,10 15,10 C16.4222094,10 17.7750753,10.296895 19,10.8320874 Z" id="Combined-Shape"></path>
            </g>
          </g>
        </svg>
      </i>
      <!--/main__title-icon-->

      {{texts[ 'changePassword' ][ 'title' ]}}
    </h1>
    <!--/main__title-->

    <!--form-->
    <form  class="main-form"
           [formGroup]="editPasswordForm"
           [class.failure]="failureFlag"
           (change)="setDefaultState()"
           (submit)="submit( $event, editPasswordForm )">

      <fieldset class="main-field">

        <label for="current-password-mob">
          {{texts[ 'changePassword' ][ 'labels' ][ 'currentPassword' ]}}
        </label>

        <div class="main-field__inner">

          <input id="current-password-mob" type="password" name="current-password" formControlName="currentPassword">

          <div class="main-field__invalid">

            <div>
              {{texts[ 'filledError' ]}}
            </div>

          </div>

        </div>

      </fieldset>

      <fieldset class="main-field">

        <label for="new-password-mob">
          {{texts[ 'changePassword' ][ 'labels' ][ 'newPassword' ]}}
        </label>

        <div class="main-field__inner">

          <input id="new-password-mob" type="password" name="new-password" formControlName="newPassword">

          <div class="main-field__invalid">

            <div>
              {{texts[ 'filledError' ]}}
            </div>

          </div>

        </div>

      </fieldset>

      <fieldset class="main-field">

        <label for="verify-password-mob">
          {{texts[ 'changePassword' ][ 'labels' ][ 'verifyPassword' ]}}
        </label>

        <div class="main-field__inner">

          <input id="verify-password-mob" type="password" name="verify-password" formControlName="verifyPassword">

          <div class="main-field__invalid">

            <div>
              {{texts[ 'filledError' ]}}
            </div>

          </div>

        </div>

      </fieldset>

      <!--form__failure-->
      <div class="main-form__failure">

        <div *ngIf="failureText">{{ failureText }}</div>
        <div *ngIf="!failureText">{{ texts[ 'changePassword' ][ 'passwordCompareError' ] }}</div>

      </div>
      <!--/form__failure-->

      <!--form__btns-->
      <div class="main-form__btns">

        <!--btn-->
        <button class="btn"
                [disabled]="!editPasswordForm.valid"
                [class.btn_disabled]="!editPasswordForm.valid"
                [dropEffect]="'#2271ca'">

          <span class="btn__inner">{{texts[ 'changePassword' ][ 'submitBtn' ]}}</span>

        </button>
        <!--/btn-->

        <button type="button" class="main-form__link"
                [activeEffect]="'blue'">
          {{texts[ 'cancelBtn' ]}}
        </button>

      </div>
      <!--/form__btns-->

    </form>
    <!--/form-->

  </div>
  <!--/profile-->

  <div class="spinner spinner_main" *ngIf="loading" [@FadeInOut]="loading"></div>

</div>
<!--/main__scroll-->
